/* Global Styles */
body {
    margin: 0;
    padding: 0 5vw;
    font-family: 'Urbanist', sans-serif;
    background-color: #0E0318;
    color: white;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.header-logo {
    height: 40px;
}

.contact-button {
    border: 1px solid white;
    border-radius: 16px;
    padding: 10px 20px;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 24px;
    font-weight: 600;
}

.contact-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}

/* Hero Section Styles */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    text-align: center;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
}

.hero .left-content,
.hero .right-content {
    width: 100%;
}

@media (min-width: 768px) {
    .hero .left-content {
        width: 50%;
        padding-right: 2vw;
    }

    .hero .right-content {
        width: 40%;
    }
}

.hero .left-content p,
.hero .right-content p {
    font-size: 1.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.015em;
    color: #E0E0E0E5;
    opacity: 0.9;
}

.hero .right-content h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.6rem;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero .right-content h2 {
    font-size: 2rem;
    line-height: 2.6rem;
    color: #FFFFFF;
}

.hero .right-content span {
    color: #9747FF;
}

.waitlist-button {
    width: 14.25rem;
    height: 3.5rem;
    border-radius: 16px;
    background-color: #9747FF;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 2rem;
}

.waitlist-button:hover {
    background-color: #7c39cc;
    transform: scale(1.05);
}

.hero .user-icons {
    margin-top: 5.5625rem;
}

.phone-images-container {
    position: relative;
    margin-top: 2rem;
}

.hero .left-content .divider {
    width: 38rem; /* 608px / 16 */
    height: 0;
    border: 0.5rem solid white; /* 8px / 16 */
    border-top-color: #FFFFFF;
    opacity: 0.1;
    transform: rotate(-180deg);
    margin-top: 5.0625rem; /* 81px / 16 */
    margin-bottom: 2rem; /* 32px / 16 */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .hero .left-content .divider {
        width: 29rem; /* Adjust the width for smaller screens */
    }
}

@media (max-width: 992px) {
    .hero .left-content .divider {
        width: 26rem;
        display: none;
    }

    .hero .right-content .divider {
        width: 26rem;
    }
}

@media (max-width: 768px) {
    .hero .left-content .divider {
        width: 25rem;
        display: none; /* Further adjust the width for tablet screens */
    }

    .hero .right-content .divider {
        width: 25rem;
    }
}

@media (max-width: 576px) {
    .hero .left-content .divider {
        width: 20rem;
        display: none; /* Further adjust the width for mobile screens */
    }

    .hero .right-content .divider {
        width: 20rem;
    }
}

.hero .colored-container {
    position: absolute;
    border-radius: 36px;
    opacity: 0.8;
}

.hero .colored-container.first {
    width: 1.6vw;
    height: 480px;
    background: #9747FF;
    z-index: 1;
    transform: rotate(90deg);
    left: 15vw;
}

.hero .colored-container.second {
    width: 2.86vw;
    height: 517px;
    background: #1B023D;
    z-index: 0;
    transform: rotate(90deg);
    left: 14.5vw;
    top: 5vh;
}

.hero .phone-images {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 432px;
    transition: transform 0.3s;
    padding-left: 5%;
}

@media (max-width: 1440px) {
    .hero .colored-container.first {
        width: 1.6vw;
        height: 480px;
        background: #9747FF;
        z-index: 1;
        transform: rotate(90deg);
        left: 17.5vw;
    }
    
    .hero .colored-container.second {
        width: 2.86vw;
        height: 517px;
        background: #1B023D;
        z-index: 0;
        transform: rotate(90deg);
        left: 17vw;
        top: 5vh;
    }
    
    .hero .phone-images {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 432px;
        transition: transform 0.3s;
        padding-left: 5%;
    }    
}

.hero .phone-images:hover {
    transform: scale(1.05);
}

/* Additional Content Section */
/* Additional Content Section */
.additional-content {
    height: 37rem; /* 592px / 16 */
    display: flex;
    justify-content: space-between;
    padding-top: 3.125rem; /* 50px / 16 */
    background-color: #0E0318;
    animation: fadeIn 1.5s ease-in-out;
}

.additional-content .left-content {
    width: 40%;
    margin-top: 7.5rem; /* 120px / 16 */
}

.additional-content .left-content h2 {
    font-family: Urbanist;
    font-size: 1.75rem; /* 28px / 16 */
    font-weight: 700;
    line-height: 2.5625rem; /* 41px / 16 */
    letter-spacing: -0.015em;
    text-align: left;
    color: #9747FF;
}

.additional-content .left-content p {
    font-family: Urbanist;
    font-size: 1.25rem; /* 20px / 16 */
    font-weight: 400;
    line-height: 2.25rem; /* 36px / 16 */
    letter-spacing: -0.015em;
    text-align: left;
    color: #E0E0E0E5;
    opacity: 0.9;
    margin-bottom: 2rem; /* 32px / 16 */
}

.additional-content .right-content {
    width: 50%;
}


.additional-content .buttons button {
    display: block;
    margin: 0.625rem 0; /* 10px / 16 */
    padding: 0.625rem 1.25rem; /* 10px / 16 and 20px / 16 */
    border: 0.0625rem solid white; /* 1px / 16 */
    border-radius: 1rem; /* 16px / 16 */
    background: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.additional-content .buttons button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .additional-content {
        height: auto; /* Adjust height for smaller screens */
        flex-direction: row;
        align-items: flex-start;
        padding-top: 2rem; /* 32px / 16 */
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .additional-content .left-content, .additional-content .right-content {
        width: 100%; /* Default to 100% width */
    }

    .additional-content .left-content {
        margin-top: 4rem; /* 64px / 16 */
    }

    .additional-content .left-content h2 {
        font-family: Urbanist;
        font-size: 1.75rem; /* 28px / 16 */
        font-weight: 700;
        line-height: 2.5625rem; /* 41px / 16 */
        letter-spacing: -0.015em;
        text-align: left;
        color: #9747FF;
    }

    .additional-content .left-content p {
        font-family: Urbanist;
        font-size: 1.25rem; /* 20px / 16 */
        font-weight: 400;
        line-height: 2.25rem; /* 36px / 16 */
        letter-spacing: -0.015em;
        text-align: left;
        color: #E0E0E0E5;
        opacity: 0.9;
        margin-bottom: 2rem; /* 32px / 16 */
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .additional-content .left-content {
        width: 40%; /* Maintain 40% width */
    }

    .additional-content .right-content {
        width: 60%; /* Maintain 60% width */
    }

    .additional-content .right-content img {
        width: 100%;
    }

    .additional-content .image-content {
        display: none;
    }
}

@media (max-width: 768px) {
    .additional-content {
        flex-direction: column;
        align-items: center;
        padding-top: 2rem; /* 32px / 16 */
    }

    .additional-content .left-content, .additional-content .right-content {
        width: 100%;
        margin-top: 0;
        margin-bottom: 2rem; /* Add spacing between elements */
    }

    .additional-content .right-content {
        display: none;
    }

    .additional-content .left-content .image-content img {
        width: 100%;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .additional-content .left-content h2, .additional-content .left-content p {
        text-align: center; /* Center text on smaller screens */
    }
}

@media (max-width: 576px) {
    .additional-content .left-content, .additional-content .right-content {
        width: 100%;
    }

    .additional-content .left-content {
        margin-top: 2rem; /* 32px / 16 */
    }
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #0E0318;
}

.footer-divider {
    margin-top: 2rem;
    border: 1px solid #FFFFFF;
    opacity: 0.3;
}

.social-icons {
    margin-top: 2rem;
}

.social-icons a {
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.social-icons img {
    width: 2rem;
    height: auto;
}

@media (max-width: 768px) {
    body {
        padding: 0 2vw;
    }

    .header-logo {
        height: 30px;
    }

    .contact-button {
        font-size: 14px;
    }

    .hero .left-content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; /* Ensure absolute children are positioned relative to this parent */
        flex-direction: column;
    }

    .hero .left-content .phone-images {
        width: 60%;
        display: none;
    }

    .hero .right-content .phone-images {
        width: 60%;
    }

    .hero .left-content .colored-container.first {
        height: 90%;
        position: absolute; /* or relative, depending on your layout needs */
        left: 48%;
        width: 15px;
        display: none;
    }

    .hero .left-content .colored-container.second {
        height: 100%;
        position: absolute; /* or relative, depending on your layout needs */
        left: 49%;
        top: 19px;
        width: 20px;
        display: none;
    }

    .hero .right-content .colored-container.first {
        height: 90%;
        position: absolute; /* or relative, depending on your layout needs */
        left: 48%;
        width: 15px;
    }

    .hero .right-content .colored-container.second {
        height: 100%;
        position: absolute; /* or relative, depending on your layout needs */
        left: 49%;
        top: 19px;
        width: 20px;
    }

    .hero .left-content .divider {
        width: 80%;
        border-width: 4px;
    }

    .hero .left-content p {
        display: none;
    }

    .hero .left-content .divider {
        display: none;
    }

    .hero .right-content {
        justify-content: center;
        align-items: center;
    }

    .hero .right-content .divider {
        width: 80%;
        border-width: 4px;
        height: 0;
        border: 0.3rem solid white;
        border-top-color: #FFFFFF;
        opacity: 0.1;
        transform: rotate(-180deg);
        margin-top: 5.0625rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;

    }

    .hero .right-content h1 {
        font-size: 1.5rem;
    }

    .hero .right-content h2 {
        font-size: 1.2rem;
    }

    .waitlist-button {
        width: 60%;
    }

    .additional-content .left-content h1 {
        font-size: 1.5rem;
    }

    .additional-content .left-content p {
        font-size: 1rem;
    }

    .additional-content .waitlist-button {
        margin-left: 20%;
    }

    .additional-content .right-content IMG {
        width: 100%;
    }

    .footer-divider {
        width: 100%;
    }

    .social-icons img {
        width: 1.5rem;
    }
}

@media (min-width: 995px) {
    .hero .right-content .phone-images {
    display: none;
    }

    .hero .right-content .colored-container.first {
        display: none;
    }

    .hero .right-content .colored-container.second {
        display: none;
    }

    .additional-content .image-content {
        display: none;
    }
}